<nav class="navbar navbar-expand navbar-light bg-light justify-content-end">
    <div class="nav navbar-nav ">
  
    <div  class='' id="menu"> <%# //меню анонимных пользователей %> 
        <a class="badge rounded-pill bg-info " href="/login" aria-current="page">Login<span class="visually-hidden">(current)</span></a>
        <a class="badge rounded-pill bg-info " href="/register">Register</a>
        </div>
        
    </div>
    </nav>
        